* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: SweetSansText,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif; 
  background:  #f4f3e7;
}

nav {
  height: 80px;
  width: 100%;

}

label.logo{
  color: #0E150E;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: left;
  margin-left: 20px;
}

nav ul li {
  display: inline-block;
  line-height:80px ;
  margin: 0 5px;
}

nav ul li  a{
  color:  #0E150E;
  font-size:16px ;
  text-transform: uppercase;
  padding-bottom:1em ;
}

a.active, a:hover {
  text-decoration: underline;
}

.checkbtn {
  font-size: 20px;
  color: #0E150E;
  float: left;
  line-height: 80px;
  margin-left: 40px;
  cursor: pointer;
  display:none;
}

#check{
  display:none;
}
