

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family:sweet-sans-pro, sans-serif;
}




/*************************/ 
/* ALGEMENE STIJLEN */
/*************************/ 

body {
  margin:0;
  background-color:var(--body-color);
}

:root {
  --body-color: #F4F3E7;
  --background-color: #0E150E;
  --background-accent1:#a9c1a9;
  --background-accent2:#e8dcc6;
  --background-accent3:#d8e5d6;
  --accent-color1:#E6FF55;
  --accent-color2:#00473c;
  --text-color1:#f4f3e7;
  --text-color2:#0e150e;
}

@media (prefers-color-scheme: dark) { 
  :root {
  --body-color: #00473c;
  --background-color: #0E150E;
  --background-accent1:#a9c1a9;
  --background-accent2:#e8dcc6;
  --background-accent3:#d8e5d6;
  --accent-color1:#E6FF55;
  --accent-color2:#00473c;
  --text-color1:#f4f3e7;
  --text-color2:#0e150e;
}
}

/*************************/ 
/* HEADER */
/*************************/ 
header {
  background-color:var(--body-color);
  position: fixed;
  z-index: 100;
  padding-bottom: .5em;
  width: 100%;
}

/*************************/ 
/* HAMBURGER MENU PLACEMENT*/
/*************************/ 

nav ul {
  background-color:var(--background-color);
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav button{
  left: 1em;
  width: 2.5em;
  height: 2.5em;
  z-index: 100;
  background-color: transparent;
  border: none;
  position: fixed;
}

nav button span {
  background-color:var(--background-color);
  width: 1.2em;
  height: 0.1em;
  display: block;
}

nav button span:first-of-type {
  top: 1.5em;
  position: fixed;
}

nav button span:last-of-type {
  top: 1em;
  position: fixed;
}




/*************************/ 
/* HAMBURGER MENU ACTION*/
/*************************/ 


.opendicht nav a {
  color:var(--text-color1);
  transition: 0.5s;
  z-index: 200;
}

.opendicht nav a:nth-of-type(2) {
  color:var(--text-color1);  
  transition: 0.5s;
  z-index: 200;
}

.opendicht nav button span {
  transform: translateY(-5px) translateX(0) rotate(45deg);
  background-color:var(--text-color1);
  transition: 0.5s; 
}

.opendicht nav button span:last-of-type {
  transform: translateY(2px) translateX(0) rotate(-45deg);
  color:var(--text-color1);
  transition: 0.5s;
}




/*************************/ 
/* HAMBURGER MENU CONTENT*/
/*************************/ 


nav ul li  {
  font-weight: bold;
  color:var(--text-color1);
  display: none;
  z-index: 2;
  text-transform: uppercase;
  padding: 0.75rem;
  font-size: 1.5em; 
  text-align: left;



}

header nav ul li a {
  text-transform: uppercase;
  text-align: left;
  margin-left: 0;
  font-size: 1em; 

}



nav ul li a:hover  {
  color:var(--accent-color1);
  text-decoration: underline;
  transition: .5s;

}

nav ul li a:focus  {
border: dashed;
padding: .5em;
color: var(--text-color1);

}

nav ul li a:active  {
  color: var(--text-color1);

}

nav ul li:nth-of-type(1){ 
  padding-top: 4em;
}

nav ul li:nth-of-type(3){ 
  padding-bottom: 2em;
}

nav ul li:nth-of-type(n+4){
  font-size: 0.8em;
  padding: 0.75rem;
  border: none;
}

nav ul li:nth-of-type(6){ 
  padding-bottom: 40em;
}

.opendicht nav ul li {
  display: block;
}





/*************************/ 
/* LOGO*/
/*************************/ 

header nav a{
  font-weight: bold;
  text-transform: lowercase;
  text-decoration: none;
  color: var(--text-color2);
  font-size: 1.5em;
  position:relative;
  display: flex;
  justify-content: center;

}


header nav a:hover{
  transform: scale(1.2);
  transition: .5s;

}

header nav a:focus {
  border: dashed;
  color: var(--text-color2);
  margin: 0;

}

header nav a:active {
  border:var(--accent-color2); 

}





/*************************/ 
/* MAIN */
/*************************/ 


/*************************/ 
/* SECTION 1 */
/*************************/ 


/*************************/ 
/* IMG */
/*************************/ 

section:nth-of-type(1) img {
  height: 40em;
  object-fit: cover;
  width: 23.4em; 
}


/*************************/ 
/* P ANIMATION */
/*************************/ 

.typing {
  width: 7em;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: .1em solid;
  text-transform: uppercase;
  position: absolute;
  top: 53%;
  left: 3%;
  color:var(--text-color1);
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

/*************************/ 
/* OTHER */
/*************************/ 

section:nth-of-type(1) h2 {
  position: absolute;
  top: 55%;
  left: 3%;
  color:var(--text-color1);
  font-size: 2em;
  padding-right: 2.5em;  
}

section:nth-of-type(1) a {
  text-decoration: none;
  position: absolute;
  width: 18em;
  top: 68%;
  left: 3%;
  background-color: var(--accent-color1);
  color: var(--text-color2);
  line-height: 1;
  padding: 0.9375em 3.75em 0.8125em;
  text-transform: uppercase;
  border-radius: 3em;
  font-size: .8em;
  font-weight: bold;
  border: none;
  margin-top: 2em;
}

section:nth-of-type(1) a:hover {
  background-color:var(--accent-color2);
  color:var(--text-color1);
  transition: .3s;
}

section:nth-of-type(1) a:focus {
  border: dashed;
  padding: .5em;
  color: var(--text-color2);
}

section:nth-of-type(1) a:active {
  color:var(--accent-color2);
}


/*************************/ 
/* SECTION 2 */
/*************************/ 

section:nth-of-type(2) h2{
  text-align: center;
}

section ul:nth-of-type(1) {
  list-style-type: none;
  display: flex;
  gap: 1em;
  padding: .5em;
}

section ul:nth-of-type(1) img {
  border-radius: 2.5rem;
  height: 15em;
  width: 15em;
  padding: .2em;
  display: flex;
  justify-content: center;
}


section ul:nth-of-type(1) {
  display: flex;
  overflow-x: scroll;
}

section:nth-of-type(2) h3 {
  letter-spacing: .03em;
  text-transform: uppercase;
  padding-left: 1em;
  text-align: left;
}

section:nth-of-type(2) p {
  letter-spacing: .03em;
  padding-left: 1em;
  text-align: left;
}

section ul li a {
  color: var(--text-color2);
  text-decoration: none;
  letter-spacing: .03em;
  margin-left: 1em;

}

section:nth-of-type(2) a:hover {
  text-decoration: underline;
  font-weight: bold;
  transition: .5s;
}

section:nth-of-type(2) a:focus {
  border: dashed;
  padding: .5em;
  color: var(--text-color2);
}

section:nth-of-type(2) a:active {
  color: var(--accent-color2);
}


/*************************/ 
/* SECTION 3 */
/*************************/ 

section:nth-of-type(3) {
  background-color:var(--background-accent1);
}

section:nth-of-type(3) h2 {
  text-transform: uppercase;
  padding:1em;
  font-size: 1em;
}

section:nth-of-type(3) h3 {
  padding-left:.6em;
  font-size: 2em;
  margin: 0em;
}

section:nth-of-type(3) p {
  letter-spacing: .03em;
  padding-left: 1em;
  padding-bottom: 1em;
}

section:nth-of-type(3) img {
  width: 22em;
  padding: 1em;
}

.animate {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.animate.fade {
  opacity: 1;
  
}

section:nth-of-type(3) a {
    background-color:var(--accent-color1);
    color:var(--text-color2);
    padding: 1em;
    text-transform: uppercase;
    border-radius: 3em;
    border: none;
    font-size: 0.8em;
    margin-left: 1em;
    font-weight: bolder;
    text-decoration: none;
}


section:nth-of-type(3) a:hover {
  background-color:var(--accent-color2);
  color:var(--text-color1);
  transition: .3s;
}

section:nth-of-type(3) a:focus {
  border: dashed;
  padding: .5em;
  color: var(--text-color2);
}

section:nth-of-type(3) a:active {
  color:var(--accent-color2);
}

/*************************/ 
/* SECTION 4 */
/*************************/ 

section:nth-of-type(4) {
  margin-bottom: 2em;
}
section:nth-of-type(4) h2 {
  text-transform: uppercase;
  padding:1em;
  font-size: 1em;
}

section:nth-of-type(4) div {
  display: flex;
  flex-direction: row;
  margin: 1em;
  background-color:var(--background-accent2);
  border-radius: 1em;
  
}

section:nth-of-type(4) img {
  height:15em;
  object-fit: cover;
  object-position: center;
  padding: 1em;
  border-radius: 2em;
}


section:nth-of-type(4) p {
  padding: 1em;
  letter-spacing: .03em;
}

/*************************/ 
/* SECTION 5 */
/*************************/ 

section:nth-of-type(5) {
  background-color:var(--background-accent3);
  }

section:nth-of-type(5) h2 {
  text-transform: uppercase;
  padding:1em;
  font-size: 1em;
}

section:nth-of-type(5) h3 {
  font-size: 2em;
  padding-left: .7em;
  margin: 0;
}

section:nth-of-type(5) p {
  letter-spacing: .03em;
  padding-left: 1em;
  margin-bottom: 2em;
}

section:nth-of-type(5) a {
  padding: 0.9375em 3.75em 0.8125em;
  text-transform: uppercase;
  border-radius: 3em;
  margin-left: 1em;
  border: .1em solid var(--accent-color2); 
  font-weight: bolder;
  color: var(--text-color2);
  text-decoration: none;
}

section:nth-of-type(5) a:hover {
  color: var(--text-color1);
  background-color: var(--accent-color2);
}

section:nth-of-type(5) a:focus {
  border: dashed;
  padding: .5em;
  color: var(--text-color2);
}

section:nth-of-type(5) a:active {
  color: var(--accent-color2);
}

section:nth-of-type(5) img {
  border-radius: 2rem;
  width: 23em;
  padding:1em;
  margin-top: 1em;
}





/*************************/ 
/* SECTION 6 */
/*************************/ 

section:nth-of-type(6) {
  background-color:var(--background-accent3);
  padding-bottom: 2em;
}

section:nth-of-type(6) video {
  height: 45em;
  object-fit: cover;
  object-position: center;
  width: 23.4em;
}

section:nth-of-type(6) video:focus {
  border: dashed;
  padding: .5em;
  color: var(--text-color2);

}



section:nth-of-type(6) h2 {
  text-transform: uppercase;
  padding:1em;
  font-size: 1em;
}

section:nth-of-type(6) h3 {
  font-size: 2em;
  padding-left: .7em;
  margin: 0;
}

section:nth-of-type(6) p {
  letter-spacing: .03em;
  padding-left: 1em;
  margin-bottom: 2em;
}

section:nth-of-type(6) a {
text-transform: uppercase;
background-color: transparent;
border: none;
margin-left: 1em;
font-size: 1em;
text-decoration: underline;
margin-bottom: 2em;
font-weight: bolder;
color: var(--text-color2);
}

section:nth-of-type(6) a:hover {
 background-color:var(--accent-color2);
 margin-left: 1em;
 padding: .3em;
 border-radius: .2em;
 text-decoration: none;
 color:var(--text-color1);
 transition: .3s;
}

section:nth-of-type(6) a:focus {
  border: dashed;
  padding: .5em;
  color: var(--text-color2);
}

section:nth-of-type(6) a:active {
  color:var(--accent-color2);
}



/*************************/ 
/* SECTION 7 */
/*************************/ 

section:nth-of-type(7) h1 {
  text-transform: uppercase;
  padding:1em;
  font-size: 1em;
}

section:nth-of-type(7) p {
  letter-spacing: .03em;
  margin-left: 1em;
}

section:nth-of-type(7) label {
  letter-spacing: .03em;
  margin-left: 1em;
}

section:nth-of-type(7) input {
  background-color: transparent;
  border: .1em solid;
  border-radius: 0.625rem;
  font-size: 1em;
  padding: 0.75rem 1rem;
  width: 20em;
  margin: 1em;
  color:var(--text-color2);
}

section:nth-of-type(7) input:focus {
  border: dashed;
padding: .5em;
color: var(--text-color2);

}




/*************************/ 
/* SECTION 8 */
/*************************/ 

section:nth-of-type(8) h1 {
  text-transform: uppercase;
  padding:1em;
  font-size: 1.2em;
  margin: 0;
}

section:nth-of-type(8) div a {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-bottom: 1em;
  font-size: 1.2em;
  text-decoration: none;
  color:var(--accent-color2);
  text-align: left;
}

section:nth-of-type(8) div a:hover {
  text-decoration: underline;
  font-weight: bold;
}

section:nth-of-type(8) div a:focus {
  border: dashed;
  padding: .5em;
  color: var(--text-color2);
}
section:nth-of-type(8) div a:active {
  color:var(--accent-color2);
}

section:nth-of-type(8) img {
  height: 20em;
  object-fit: cover;
  object-position: center;
  width: 20em;
  display: flex;
  justify-content: center;
  margin-left: 2em;

}






/*************************/ 
/* FOOTER 6 */
/*************************/ 

footer{
  background-color: var(--background-accent1);
}

/*************************/ 
/* FOOTER ANIMATION */
/*************************/ 

.scrolling {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
  margin-top: 50px;
}
  
.scrolling h2 {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; 
  font-size: 7em;
  text-align: center;
  line-height: 50px;
  color:var(--text-color2);
  transform: translateX(100%);
  animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
  0% {
      transform: translateX(100%);
      }
  100% {
      transform: translateX(-100%);
    }
}   




/*************************/ 
/* OTHER */
/*************************/ 

footer:nth-of-type(1) h2 {
  font-size: .8em;
   text-transform: uppercase;
   margin-left: 1.5em;
}

footer:nth-of-type(1) a {
  font-size: .8em;
  text-decoration: none;
  color: var(--text-color2);
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

footer:nth-of-type(1) a:focus {
  border: dashed;
  padding: .5em;
  color: var(--text-color2);
}

footer:nth-of-type(1) li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

footer:nth-of-type(1) ul {
  margin-left: 1.5em;
  padding-left: 0;
}



footer p:first-of-type {
  margin-left: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 0;
}

























































/*************************/ 
/* MISSION (PAGE 2) */
/*************************/ 

/*************************/ 
/* SECTION 1 */
/*************************/ 


.mainbody section:nth-of-type(1)  {
  background-color:var(--background-accent1);
}

.mainbody section:nth-of-type(1) img {
  margin-top: 3em;
  height: 20em;
  object-fit: cover;
  width: 23.4em; 
  padding: 0;
  margin: 0;

}


.mainbody section:nth-of-type(1) h2 {
  top: 0;
  left: 0;
  color:var(--text-color2);
  font-size: 1.5em;
  margin-top: 14em;
  margin-left: 1em;
  padding-top: .7em;  
  padding-bottom: .7em; 
}

.mainbody section:nth-of-type(1) p {
  color:var(--text-color2);
  font-size: 1.5em;
  margin-top: 2em;
  margin-left: 1em;
  padding-right: 1em; 
  padding-bottom: 1em;
  padding-top: .7em;   
}




/*************************/ 
/* SECTION 2 */
/*************************/ 


.mainbody section:nth-of-type(2) h3 {
  letter-spacing: .03em;
  text-transform: none;
  padding-left: 1em;
  text-align: left;
}

.mainbody section:nth-of-type(2) p {
  letter-spacing: .03em;
  padding-left: 6em;
  padding-right: 3em;
  text-align: left;
}




/*************************/ 
/* SECTION 3 */
/*************************/ 
.mainbody section:nth-of-type(3)  {
  background-color:var(--background-accent2);
    margin-top: 1.5em; 
}

.mainbody section:nth-of-type(3) img {
  height: 20em;
  object-fit: cover;
  width: 100%;
  padding: 0;
}



.mainbody section:nth-of-type(3) h2 {
  text-transform: none;
  padding:0em;
  font-size: 1.5em;
  margin-left: 1em;
}

.mainbody section:nth-of-type(3) p {
  letter-spacing: .03em;
  font-size: 1.5em;

}


/*************************/ 
/* SECTION 4 */
/*************************/ 

.mainbody section:nth-of-type(4) h3 {
  letter-spacing: .03em;
  text-transform: none;
  padding-left: 1em;
  text-align: left;
}

.mainbody section:nth-of-type(4) p {
  letter-spacing: .03em;
  padding-left: 6em;
  padding-right: 3em;
  text-align: left;
}

.mainbody section:nth-of-type(4) a {
  letter-spacing: .03em;
  padding-left: 6em;
  padding-right: 3em;
  text-align: left;
  text-decoration: none;
  color: var(--text-color2);
}

.mainbody section:nth-of-type(4) a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.mainbody section:nth-of-type(4) a:focus {
  border: dashed;
  padding: .5em;
  margin-left: 5em;
  color: var(--text-color2);

}

.mainbody section:nth-of-type(4) a:active {
  color:var(--accent-color2);
}

/*************************/ 
/* SECTION 5 */
/*************************/ 

.mainbody section:nth-of-type(5)  {
  background-color:var(--background-accent3);
  padding-bottom: 2em;
}

.mainbody section:nth-of-type(5) img {
  border-radius:0;
  height: 20em;
  object-fit: cover;
  width: 23.4em; 
  padding: 0;
  margin: 0;
}

.mainbody section:nth-of-type(5) h2 {
  text-transform: none;
  padding:0em;
  font-size: 1.5em;
  margin-left: 1em;
}


.mainbody section:nth-of-type(5) p {
  letter-spacing: .03em;
  font-size: 1.5em;
  padding-left: 1em;
  margin-bottom: 0;
}


/*************************/ 
/* SECTION 6 */
/*************************/ 

.mainbody section:nth-of-type(6) {
  background-color: transparent;
}

.mainbody section:nth-of-type(6) h2 {
  letter-spacing: .03em;
  text-transform: none;
  padding-left: 1.5em;
  text-align: left;
}

.mainbody section:nth-of-type(6) p {
  letter-spacing: .03em;
  padding-left: 6em;
  padding-right: 3em;
  text-align: left;
}

.mainbody section:nth-of-type(6) a {
  letter-spacing: .03em;
  padding-left: 6em;
  padding-right: 3em;
  text-align: left;
  text-decoration: none;
  color: #0e150e;
  text-transform: none;
  font-weight: normal;
  margin-left: 0;
}

.mainbody section:nth-of-type(6) a:hover {
  font-weight: bold;
  text-decoration: underline;
  background-color: transparent;
}

.mainbody section:nth-of-type(6) a:focus {
  border: dashed;
  padding: .5em;
  color: var(--text-color2);
  margin-left: 5em;

}

.mainbody section:nth-of-type(6) a:active {
  color:var(--accent-color2);
}

/*************************/ 
/* SECTION 7 */
/*************************/ 

.mainbody section:nth-of-type(7)  {
display: flex;
justify-content: center; 
}

.mainbody section:nth-of-type(7) img {
 height: 20em;

}



.flip-card {
  background-color: transparent;
  width: 20em;
  height: 25em;


}

.flip-card-inner {
  width: 20em;
  height: 25em;
  transition: transform 0.8s;
  transform-style: preserve-3d;


}

.mainbody section:nth-of-type(7) div:hover .flip-card-inner {
  transform: rotateY(180deg);


}

.flip-card-front 
  , .flip-card-back {
  position: absolute;
  width: 20em;
  height: 25em;
  -webkit-backface-visibility: hidden; 

}

.flip-card-front {
  background-color:var(--background-accent2);
  border-radius: 1em;

}

.flip-card-back {
  background-color:var(--background-accent2);
  color:var(--text-color2);
  transform: rotateY(180deg);
  border-radius: 1em;
  padding: 1em;
}

.outpost section:nth-of-type(1) p {
  padding: 1em;
}